@model IEnumerable<AssistenciaSocial.PontuaCasos.WebApp.Models.Item>

@{
    ViewData["Title"] = "Incluir Pessoa em Violação";
}

<h1>Incluir</h1>

<h4>Nova Pessoa em Violação</h4>
<hr />
@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-route-caso_id="@Context.Request.Query["caso_id"]">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <partial name="~/Views/Shared/_ItemSelect.cshtml" model="@Model" />
            <input type="submit" value="Incluir" class="btn btn-primary" />
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-controller="Casos" asp-route-id="@Context.Request.Query["caso_id"]">Voltar ao Caso</a>
</div>
