@model IEnumerable<AssistenciaSocial.PontuaCasos.WebApp.Models.Item>

@{
    ViewData["Title"] = "Registrar Nova Condição da Pessoa";
}

<<h1>Registrar</h1>

<h4>Nova Condição da Pessoa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-route-individuo_id="@Context.Request.Query["individuo_id"]">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <partial name="~/Views/Shared/_ItemSelect.cshtml" model="@Model" />
            <p class="text-danger fw-bold">@ViewData["Erro"]</p>
            <input type="submit" value="Registrar" class="btn btn-primary" />
        </form>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-controller="Individuos" asp-route-id="@Context.Request.Query["individuo_id"]">Voltar ao Individuo</a>
</div>
