@model AssistenciaSocial.PontuaCasos.WebApp.Models.Item

@{
    ViewData["Title"] = "Remover Condição do Ciclo em Violação";
}

<h1>Remover</h1>

<h3>Tem certeza que quer remover esta condição?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
    </dl>

    <form asp-action="Delete" asp-route-individuo_id="@Context.Request.Query["individuo_id"]">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Remover" class="btn btn-danger" /> |
        <a asp-action="Edit" asp-controller="Individuos" asp-route-id="@Context.Request.Query["individuo_id"]">Voltar</a>
    </form>
</div
