@model AssistenciaSocial.PontuaCasos.WebApp.Models.Caso

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Caso</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                @if (ViewBag.Categorias != null)
                {
                    <partial name="~/Views/Shared/_CategoriaSelect.cshtml" model="@ViewBag.Categorias"  />
                }
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
