@model AssistenciaSocial.PontuaCasos.WebApp.Models.Caso

@{
    ViewData["Title"] = "Editar Caso";
}

<h1>Editar</h1>

<h4>Caso</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Ativo" />
            <input type="hidden" asp-for="CriadoEm" />
            <input type="hidden" asp-for="ModificadoEm" />
            <div class="form-group">
                <label asp-for="ResponsavelFamiliar" class="control-label"></label>
                <input asp-for="ResponsavelFamiliar" class="form-control" />
                <span asp-validation-for="ResponsavelFamiliar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prontuario" class="control-label"></label>
                <input asp-for="Prontuario" class="form-control" />
                <span asp-validation-for="Prontuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

