@model AssistenciaSocial.PontuaCasos.WebApp.Models.Caso

@{
    ViewData["Title"] = "Editar Caso";
}

<h1>Editar</h1>

<h4>Caso</h4>
<a asp-action="History" asp-route-id="@Model.Id">Ver Histórico</a>
<hr />
<form asp-action="Edit">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Ativo" />
            <input type="hidden" asp-for="CriadoEm" />
            <input type="hidden" asp-for="CriadoPorId" />
            <div class="form-group">
                <label asp-for="ResponsavelFamiliar" class="control-label"></label>
                <input asp-for="ResponsavelFamiliar" class="form-control" />
                <span asp-validation-for="ResponsavelFamiliar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prontuario" class="control-label"></label>
                <input asp-for="Prontuario" class="form-control" />
                <span asp-validation-for="Prontuario" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div>
        <br />
        @if (ViewBag.Categorias != null)
        {
            <partial name="~/Views/Shared/_CategoriaSelect.cshtml" model="@ViewBag.Categorias" />
        }
        <div class="form-group">
            <input type="submit" value="Salvar" class="btn btn-primary" />
        </div>
    </div>
</form>
<br />
<br />
<div>
    <h4>Pessoas em Violação</h4>
    <a asp-action="Create" asp-controller="Atendidos" asp-route-caso_id="@Model.Id"
        class="btn btn-outline-primary">Adicionar
        Pessoa</a>
    <hr />
    <partial name="~/Views/Shared/_IndividuosList.cshtml" model="@Model.Individuos" />
</div>
<div>
    <a asp-action="Index">Voltar</a>
</div>
@if (ViewData["CasoAtualizado"] != null)
{
    <script>
        alert("Atualização realizada com sucesso!");
    </script>
}
