@model IEnumerable<DateTime>

@{
    ViewData["Title"] = "Histórico de Casos";
    var contagem = 0;
}

<h1>Histórico</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Data
            </th>
            <th></th>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@Context.GetRouteValue("id")" asp-route-modificado_em="@Html.Encode(contagem == 0 ? item.AddSeconds(1) : item)">Detalhes</a>
                </td>
            </tr>
            contagem++;
        }
    </tbody>
</table>
